/*------------------------------------*\
    #PAGES
\*------------------------------------*/
* {
	margin: 0;
	padding: 0;
	border: 0;
}

/** SCSS FUNCTION **/
@function path($src, $dir: fonts) {
	$src: unquote($src);
	@return url(unquote("../..")/$dir/$src);
}

@font-face {
		font-family: 'Glacial Indifference';
		src:  path('glacialindifference.otf') format('opentype');
		src: path('glacialindifference.eot');
		src: path('glacialindifference.woff') format('woff');
}

@font-face {
	font-family: 'Great Vibes';
	src: path('GreatVibes.otf') format("opentype");
	src: path('GreatVibes.eot');
	src: path('GreatVibes.woff') format('woff');
}

body {
	font-family: $glacial;
	background-color: $babyblue;
	color: $chocolate;
}

header {
	background-color: $white;
  margin-top: 10%;

	@include breakpoint(portrait) {
		margin-top: 5%;
	}

	@include breakpoint(large) {
		margin-top: 3%;
	}
}

.hidden {
	visibility: hidden;
	display: none;
}

#logo {
  width: 70%;
  max-width: 300px;
  padding: 1%;
	padding-top: 3%;
	padding-bottom: 3%;
  margin: 0 auto;
  display: block;
}

/* Grow */
.hvr-grow {
    display: inline-block;
    vertical-align: middle;
    transform: translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
    transition-duration: 0.3s;
    transition-property: transform;
}

.hvr-grow:hover,
.hvr-grow:focus,
.hvr-grow:active {
    transform: scale(1.1);
}

.banner {
	max-width: 100%;
	margin-top: 10%;

	@include breakpoint(portrait) {
		margin-top: 5%;
	}

	@include breakpoint(regular-screen) {
		max-width: 84%;
		margin: auto;
		margin-top: 5%;
		display: block;
	}

	@include breakpoint(large) {
		margin-top: 3%;
	}

	@include breakpoint(xlarge) {
		max-width: 76%;
	}

	@include breakpoint(xxlarge) {
		max-width: 65%;
	}
}

/************** NAV **************/
nav {
	font-family: $glacial;
	background-color: $white;
	color: $chocolate;
	margin-top: 10%;
	padding-top: 1%;
	padding-bottom: 1%;
	font-size: 1.2rem;
	letter-spacing: 4px;

	@include breakpoint(large-mobile) {
		font-size: 1.3rem;
	}

	@include breakpoint(portrait) {
		margin-top: 5%;
	}

	@include breakpoint(regular-screen) {
		padding-top: 0;
		padding-bottom: 0;
	}

	@include breakpoint(large) {
		margin-top: 3%;
	}

		ul {
			@include no-bullets;

			@include breakpoint(portrait) {
				display: flex;
				padding-left: 2%;
				padding-right: 2%;
			}

			@include breakpoint(xlarge) {
				justify-content: space-between;
				max-width: 1300px;
				margin: 0 auto;
			}

				li {
					text-align: center;
					padding-top: 2.5%;
					padding-bottom: 2.5%;

						@include breakpoint(portrait) {
							flex: 1;
						}

						@include breakpoint(large) {
							padding-top: 1%;
							padding-bottom: 1%;
						}

						@include breakpoint(xlarge) {
							max-width: 150px;
							padding-top: 2%;
							padding-bottom: 2%;
						}
				}
		}

}

/**************MENU / CATERING **************/
.firstflex {
	@include breakpoint(medium) {
		display: flex;
		justify-content: space-between;
		max-width: 800px;
		margin: 0 auto;
	}

	@include breakpoint(regular-screen) {
		max-width: 1000px;
	}

	@include breakpoint(large) {
		max-width: 1200px;
	}

	@include breakpoint(xxlarge) {
		max-width: 1240px;
	}
}

.menu-catering {
	@include breakpoint(medium) {
		flex: 1;
		display: flex;
  	justify-content: center;
  	align-items: center;
		max-width: 380px;
		margin-top: 3%;
	}

	@include breakpoint(regular-screen) {
		max-width: 475px;
	}

	@include breakpoint(large) {
		max-width: 565px;
	}

	@include breakpoint(xxlarge) {
		max-width: 580px;
	}
}

.menu-catering img {
	@include breakpoint(medium) {
		max-width: 100%;
		margin-top: 6%;
	}
}

h4 {
	font-family: $glacial;
	color: $chocolate;
	background-color: $milky;
	position: absolute;
	font-size: 1.8rem;
	padding-top: 1%;
	padding-bottom: 1%;
	text-align: center;
	letter-spacing: 7px;
	font-weight: normal;
	width: 100%;

	@include breakpoint(medium) {
		flex: 1;
		font-size: 1.5rem;
		width: 40.73%;
		margin-top: 0;
	}
}

h4:hover {
    -webkit-animation-name: colorchange; /* Safari 4.0 - 8.0 */
    -webkit-animation-duration: 1s; /* Safari 4.0 - 8.0 */
    animation-name: example;
    animation-duration: 1s;
}

@keyframes colorchange {
    from {background-color: $milky;}
    to {background-color: $chocolate;}
}

.mc {
	margin-top: 37%;

	@include breakpoint(small) {
		margin-top: 40%;
		font-size: 2.1rem;
	}

	@include breakpoint(portrait) {
		margin-top: 24%;
		font-size: 2.1rem;
	}

	@include breakpoint(medium) {
		margin-top: 1%;
		max-width: 380px;
	}

	@include breakpoint(regular-screen) {
		max-width: 475px;
	}

	@include breakpoint(large) {
		max-width: 565px;
	}

	@include breakpoint(xxlarge) {
		max-width: 580px;
	}
}

.home1 {
	width: 100%;
	margin-top: 10%;

	@include breakpoint(portrait) {
		margin-top: 5%;
		max-height: 400px;
		object-fit: cover;
	}

	@include breakpoint(large) {
		margin-top: 0;
	}
}

/************** ABOUT / BLOG / CONTACT **************/
.menu-catering2 {
	@include breakpoint(medium) {
	flex: 1;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 5%;
	max-width: 240px;
	}

	@include breakpoint(medium) {
		margin-top: 4%;
	}

	@include breakpoint(regular-screen) {
		max-width: 300px;
	}

	@include breakpoint(large) {
		max-width: 350px;
		margin-bottom: 2%;
	}

	@include breakpoint(xxlarge) {
		max-width: 360px;
		margin-bottom: 2%;
	}
}

.menu-catering2 img {
	@include breakpoint(medium) {
	max-width: 100%;
	}

	@include breakpoint(medium) {
		margin-top: 0%;
	}
}

.abc {
	margin-top: 37%;

	@include breakpoint(small) {
		font-size: 2.1rem;
	}

	@include breakpoint(portrait) {
		margin-top: 24%;
	}

	@include breakpoint(medium) {
		margin-top: 1%;
		width: 25.73%;
		max-width: 240px;
	}

	@include breakpoint(regular-screen) {
		max-width: 300px;
	}

	@include breakpoint(large) {
		max-width: 350px;
	}

	@include breakpoint(xxlarge) {
		max-width: 360px;
	}
}

.home2 {
	width: 100%;
	margin-top: 10%;
	height: 230px;
	object-fit: cover;

	@include breakpoint(large-mobile) {
		height: 300px;
	}

	@include breakpoint(small) {
		height: 380px;
	}

	@include breakpoint(portrait) {
		height: 400px;
		margin-top: 5%;
	}
}

/************** FOOTER *************/
footer {
	background-color: $white;
	margin-top: 10%;
	text-align: center;
	padding-top: 5%;
	padding-bottom: 5%;

	@include breakpoint(portrait) {
		display: flex;
		justify-content: center;
		align-items: center;
		margin-top: 5%;
	}

	@include breakpoint(medium) {
		padding-top: 1%;
		padding-bottom: 1%;
		margin-bottom: 5%;
	}

	@include breakpoint(large) {
		margin-bottom: 3%;
		margin-top: 3%;
	}
}

table {
	text-align: left;
	@extend %centered;
	padding-top: 5%;
	font-size: 1.3rem;

	@include breakpoint(small) {
		font-size: 1.4rem;
	}

	@include breakpoint(portrait) {
		flex: 1;
		padding-top: 0;
		padding-left: 2%;
	}

	@include breakpoint(medium) {
		font-size: 1.2rem;
	}

	@include breakpoint(regular-screen) {
		padding-left: 3%;
	}

	@include breakpoint(large) {
		padding-left: 8%;
	}

	@include breakpoint(xxlarge) {
		padding-left: 11%;
	}
}

th {
	padding-left: 20%;
	color: $coral;
	letter-spacing: 3px;
	font-weight: normal;

	@include breakpoint(portrait) {
		padding-left: 18%;
	}

	@include breakpoint(medium) {
		padding-left: 18%;
	}

	@include breakpoint(regular-screen) {
		padding-left: 26%;
	}

	@include breakpoint(large) {
		padding-left: 37%;
	}

	@include breakpoint(xlarge) {
		padding-left: 43%;
	}

	@include breakpoint(xxlarge) {
		padding-left: 55%;
	}
}

td {
	padding: 4%;
	padding-right: 17%;

	@include breakpoint(regular-screen) {
		padding: 2%;
	}
}

footer p {
	padding-top: 15%;
	padding-bottom: 5%;
	font-size: 1.3rem;

	@include breakpoint(large-mobile) {
		padding-top: 8%;
	}

	@include breakpoint(small) {
		font-size: 1.4rem;
		padding-top: 7%;
	}

	@include breakpoint(portrait) {
		flex: 1;
	}

	@include breakpoint(medium) {
		font-size: 1.3rem;
		padding-left: 1%;
	}

	@include breakpoint(regular-screen) {
		padding-left: 4%;
	}

	@include breakpoint(large) {
		padding-left: 7%;
	}

	@include breakpoint(xxlarge) {
		padding-left: 2%;
	}
}

a {
	color: $coral;
  text-decoration:  none;

	&:hover {
		color: $chocolate;
	}

	$list: "facebook", "instagram", "twitter";

	@each $icon in $list {
	  ##{$icon} {
	    height: 50px;
	    width: 50px;
			fill: currentColor;
	  }
	}
}

#socialmedia {
	display: flex;
	padding: 10%;
	padding-left: 18%;

	@include breakpoint(large-mobile) {
		padding-left: 22%;
	}

	@include breakpoint(small) {
		padding-left: 27%;
	}

	@include breakpoint(medium) {
		display: none;
	}
}

#socialmedia-large {
	display: none;

	@include breakpoint(medium) {
		display: flex;
		padding-left: 3.5%;
	}

	@include breakpoint(regular-screen) {
		padding-left: 13%;
	}

	@include breakpoint(xlarge) {
		padding-left: 13%;
	}
}

svg {
	@include breakpoint(medium) {
		padding: 20%;
	}
}

.logo1 {
	flex: 1;
}

/************* ABOUT PAGE **************/
.aboutbanner {
	max-width: 100%;
	margin-top: 10%;

	@include breakpoint(portrait) {
		margin-top: 5%;
	}

	@include breakpoint(regular-screen) {
		max-width: 80%;
		margin: auto;
		display: block;
		margin-top: 5%;
	}

	@include breakpoint(large) {
		max-width: 70%;
		margin-top: 3%;
	}

	@include breakpoint(xlarge) {
		max-width: 60%;
	}
}

h2 {
	font-family: $vibes;
	font-size: 2.1rem;
	color: $white;
	text-align: center;
}

.about-content {
	background: $white;
	margin-top: 10%;
	padding: 10%;
	font-size: 1.4rem;

	@include breakpoint(regular-screen) {
		width: 60%;
		margin: auto;
		margin-top: 5%;
	}

	@include breakpoint(large) {
		width: 50%;
		margin-top: 3%;
	}

	@include breakpoint(xlarge) {
		width: 40%;
		padding-top: 5%;
		padding-bottom: 5%;
	}
}

.aboutbody {
	padding-top: 10%;
}

.bigtext {
	font-size: 5rem;
	color: $coral;
	font-family: $vibes;
	padding-right: 3%;
}

/********* CATERING ********/
.chocolateorder {
	color: $chocolate;
	font-size: 2.9rem;

	@include breakpoint(small) {
		font-size: 3.3rem;
	}

	@include breakpoint(xlarge) {
		font-size: 3.7rem;
	}

	@include breakpoint(xxlarge) {
		font-size: 4rem;
	}
}

h3 {
	letter-spacing: 4px;
	text-align: center;
	font-weight: normal;
	color: $coral;
	padding-top: 10%;

	@include breakpoint(small) {
		font-size: 1.5rem;
	}

	@include breakpoint(xlarge) {
		font-size: 1.7rem;
	}

	@include breakpoint(xxlarge) {
		font-size: 2rem;
		padding-top: 8%;
	}
}

.cateringinfo {
	text-align: center;
	color: $chocolate;
	padding-top: 2%;

	@include breakpoint(small) {
		font-size: 1.5rem;
	}

	@include breakpoint(xlarge) {
		font-size: 1.7rem;
	}

	@include breakpoint(xxlarge) {
		font-size: 2rem;
	}
}

.catering-content {
	background: $white;
	margin-top: 10%;
	padding: 10%;
	font-size: 1.4rem;

	@include breakpoint(regular-screen) {
		padding: 5%;
		width: 25%;
		position: absolute;
		top: 60%;
		left: 48%;
		background-color: $milky2;
	}

	@include breakpoint(large) {
		top: 50%;
		left: 44%;
	}

	@include breakpoint(xlarge) {
		top: 53%;
		left: 44%;
	}

	@include breakpoint(xxlarge) {
		top: 60%;
		left: 43%;
		padding: 5%;
	}
}

.cateringbanner {
	max-width: 100%;
	margin-top: 10%;

	@include breakpoint(portrait) {
		margin-top: 5%;
	}

	@include breakpoint(regular-screen) {
		max-width: 80%;
		margin: auto;
		display: block;
		margin-top: 5%;
		position: relative;
	}

	@include breakpoint(large) {
		max-width: 70%;
		margin-top: 3%;
	}
}

/******** CONTACT PAGE **********/
.contactbanner {
	max-width: 100%;
	margin-top: 10%;

	@include breakpoint(portrait) {
		margin-top: 5%;
	}

	@include breakpoint(regular-screen) {
		max-width: 45%;
		display: inline-block;
		position: absolute;
		top: 51.5%;
		left: 50%;
	}

	@include breakpoint(large) {
		top: 46%;
		left: 48%;
	}

	@include breakpoint(xlarge) {
		top: 47.3%;
		left: 48%;
	}

	@include breakpoint(xxlarge) {
		top: 46%;
		left: 48%;
	}
}

#contact_form {
	background: $babyblue;
	text-align: left;
	font-family: $glacial;
	margin-top: 10%;

	@include breakpoint(portrait) {
		margin-top: 4%;
		margin-bottom: 10%;
	}

	@include breakpoint(regular-screen) {
		max-width: 45%;
		display: inline-block;
		margin-left: 10%;
		margin-bottom: 3%;
	}

	@include breakpoint(large) {
		margin-bottom: 4%;
		margin-top: 5%;
	}
}

legend {
	font-size: 1.8rem;
	color: $coral;
	background: $white;
	width: 100%;
	padding-top: 3%;
	padding-bottom: 3%;
	text-align: center;

	@include breakpoint(small) {
		font-size: 2rem;
	}

	@include breakpoint(portrait) {
		display: none;
	}
}

.center label {
	padding: 8%;
 	display: inline-block;
	width: 21%;
	text-align: right;
	font-size: 1.3rem;
	color: $chocolate;

	@include breakpoint(small) {
		padding-top: 0;
		padding-bottom: 0;
		font-size: 1.5rem;
		width: 25%;
	}

	@include breakpoint(regular-screen) {
		margin-top: 10%;
		padding-left: 0;
	}
}

.center label:first-child {
	padding-top: 10%;

	@include breakpoint(portrait) {
		padding-top: 7%;
	}

	@include breakpoint(regular-screen) {
		padding-top: 2%;
	}
}

textarea {
	margin-top: 6%;
	min-height: 6rem;
	width: 12.6rem;
	vertical-align: middle;
	font-family: $glacial;
	font-size: 1.1rem;

	@include breakpoint(portrait) {
		min-height: 8rem;
		width: 16.5rem;
	}

	@include breakpoint(regular-screen) {
		margin-top: 10%;
	}
}

input {
	line-height: 2.5rem;
	font-family: $glacial;
	font-size: 1.1rem;

	@include breakpoint(portrait) {
		width: 16.5rem;
	}

	@include breakpoint(regular-screen) {
		padding: 0;
		margin-top: 10%;
	}
}

.submission {
	text-align: center;
	@extend %centered;
	margin-top: 10%;
}

input[type="submit"], input[type="reset"] {
	font-family: $glacial;
	font-size: 1.3rem;
	padding: 2%;
	padding-left: 4%;
	padding-right: 4%;
	background-color: $white;
	color: $coral;
	margin-left: 5%;
	cursor: pointer;

	@include breakpoint(small) {
		font-size: 1.5rem;
	}

	@include breakpoint(portrait) {
		padding-left: 0;
		padding-right: 0;
		width: 10rem;
	}
}

input[type="submit"]:hover, input[type="reset"]:hover {
	background-color: $chocolate;
	color: $white;
}

.center {
	@include breakpoint(regular-screen) {
		display: flex;
	}
}

/********** MENU ************/
.menu2 {
	max-width: 100%;
	margin-top: 10%;
	height: 230px;
	object-fit: cover;
	width: 100%;

	@include breakpoint(large-mobile) {
		height: 300px;
		width: 100%;
	}

	@include breakpoint(small) {
		height: 400px;
	}

	@include breakpoint(portrait) {
		margin-top: 6%;
	}

	@include breakpoint(medium) {
		height: 350px;
		margin-top: 0%;
	}
}

.mm {
	margin-top: 37%;

	@include breakpoint(small) {
		margin-top: 36%;
		font-size: 2.1rem;
	}

	@include breakpoint(portrait) {
		margin-top: 27%;
		font-size: 2.2rem;
		max-width: 100%;
	}

	@include breakpoint(medium) {
		margin-top: 0%;
		max-width: 375px;
	}

	@include breakpoint(regular-screen) {
		max-width: 375px;
	}

	@include breakpoint(large) {
		max-width: 420px;
	}
}

.menuflex {
	@include breakpoint(medium) {
		display: flex;
		flex-wrap: wrap;
  	flex-direction: row;
		justify-content: space-between;
		max-width: 800px;
		margin: 0 auto;
	}

	@include breakpoint(regular-screen) {
		max-width: 865px;
	}

	@include breakpoint(large) {
		max-width: 900px;
	}
}

.menu-items {
	@include breakpoint(medium) {
		display: flex;
	  justify-content: center;
	  flex-direction: column;
		max-width: 375px;
		margin-top: 6%;
	}

	@include breakpoint(large) {
		max-width: 420px;
	}
}

/******** CUPCAKES PAGE *********/
#cupcakebody {
	width: 100%;
	background-color: $white;
	margin-top: 10%;
	text-align: center;
	margin-bottom: 13%;
	padding-bottom: 5%;

	@include breakpoint(small) {
		margin-bottom: 10%;
	}

	@include breakpoint(portrait) {
		margin-bottom: 5%;
		margin-top: 5%;
	}

	@include breakpoint(medium) {
		flex: 1;
		max-height: 588px;
		margin-bottom: 0%;
	}

	@include breakpoint(regular-screen) {
		max-height: 604px;
	}
}
#cupcakebanner {
	display: none;

	@include breakpoint(medium) {
		display: inherit;
		flex: 1;
	}
}
#cupcakebody p {
	max-width: 66%;
	font-size: 1.2rem;
	color: $chocolate;
	padding-top: 1%;

	@include breakpoint(large-mobile) {
		font-size: 1.4rem;
		max-width: 64%;
	}

	@include breakpoint(small) {
		font-size: 1.4rem;
		max-width: 61%;
	}

	@include breakpoint(portrait) {
		max-width: 60%;
	}

	@include breakpoint(medium) {
		max-width: 64%;
	}
}

#flexedcupcakes {

	@include breakpoint(medium) {
		display: flex;
		justify-content: space-between;
		margin: 0 auto;
		max-width: 1000px;
	}
}

h5 {
	font-family: $vibes;
	color: $coral;
	font-size: 2.1rem;
	padding-top: 4%;
	padding-bottom: 4%;
	margin-top: 13%;

	@include breakpoint(large-mobile) {
		font-size: 2.5rem;
	}

	@include breakpoint(small) {
		margin-top: 10%;
	}

	@include breakpoint(portrait) {
		margin-top: 5%;
		padding-top: 4%;
		padding-bottom: 0%;
	}

	@include breakpoint(medium) {
		margin-top: 7%;
	}
}

.cupcaketype {
	text-align: right;
}

.caramelcupcakes {
	max-width: 100%;
	width: 100%;
	max-height: 635px;
	margin-top: 10%;
	object-fit: cover;

	@include breakpoint(regular-screen) {
		max-height: 653px;
	}
}

/******** BLOG INDEX **********/
.boxbox {
	background-color: $milky;
	z-index: 4;
	width: 80%;
}

.bi {
	position: absolute;
	margin-top: 38%;
	color: $chocolate;
	z-index: 5;
	background-color: $milky;
	font-size: 1.8rem;
	padding: 20%;

	@include breakpoint(large-mobile) {
		margin-top: 26%;
	}

	@include breakpoint(small) {
		margin-top: 20%;
		font-size: 2rem;
	}

	@include breakpoint(portrait) {
		margin-top: 13%;
	}

	@include breakpoint(medium) {
		padding: 5%;
		padding-top: 15%;
		padding-bottom: 15%;
		position: absolute;
		top: 47%;
		left: 15%;
	}

	@include breakpoint(regular-screen) {
		top: 45%;
		left: 21%;
	}

	@include breakpoint(large) {
		padding-top: 11%;
		padding-bottom: 11%;
		top: 35%;
		left: 25%;
	}

	@include breakpoint(xlarge) {
		top: 50%;
		left: 28%;
	}

	@include breakpoint(xxlarge) {
		top: 47%;
		left: 30%;
	}
}

.blogtitle {
	font-size: 1.2rem;
	position: absolute;
	margin-top: 45%;
	z-index: 10;
	background: none;
	color: $coral;
	letter-spacing: normal;

	@include breakpoint(large-mobile) {
		margin-top: 34%;
	}

	@include breakpoint(small) {
		margin-top: 29%;
		font-size: 1.6rem;
	}

	@include breakpoint(portrait) {
		margin-top: 22%;
	}

	@include breakpoint(medium) {
		margin-top: 15%;
		top: 51%;
		left: 30%;
	}

	@include breakpoint(large) {
		top: 38%;
	}

	@include breakpoint(xlarge) {
		top: 54%;
	}

	@include breakpoint(xxlarge) {
		top: 51%;
	}
}

.blogby {
	font-style: italic;
	color: $chocolate;
	padding-right: 5px;
}

.secondblogtitle {
	font-size: 1.2rem;
	position: absolute;
	margin-top: 92%;
	z-index: 5;
	background: none;
	color: $coral;
	letter-spacing: normal;

	@include breakpoint(large-mobile) {
		margin-top: 73%;
	}

	@include breakpoint(small) {
		margin-top: 57%;
		font-size: 1.6rem;
	}

	@include breakpoint(portrait) {
		margin-top: 48%;
	}

	@include breakpoint(medium) {
		margin-top: 15%;
		top: 68%;
		left: 30%;
	}

	@include breakpoint(large) {
		top: 57%;
	}

	@include breakpoint(xlarge) {
		top: 74%;
	}

	@include breakpoint(xxlarge) {
		top: 75%;
	}
}

.blogbanner {
	max-width: 100%;
	margin-top: 10%;
	position: relative;
	z-index: 1;
	min-height: 450px;
	object-fit: cover;

	@include breakpoint(portrait) {
		margin-top: 5%;
	}

	@include breakpoint(medium) {
		max-width: 800px;
		margin: auto;
		margin-top: 5%;
		display: block;
	}

	@include breakpoint(large) {
		margin-top: 3%;
	}

	@include breakpoint(xlarge) {
		max-width: 76%;
	}

	@include breakpoint(xxlarge) {
		max-width: 65%;
	}
}

.featured {
	color: $chocolate;
	font-size: 1.5rem;
	padding-left: 5%;
	padding-right: 5%;
	margin-top: 0%;
	padding-top: 3%;

	@include breakpoint(portrait) {
		font-size: 1.7rem;
	}

	@include breakpoint(large) {
		padding-top: 2%;
	}
}

.decor {
	width: 50%;
	margin: 0 auto;
	display: block;
	margin-top: 10%;

	@include breakpoint(portrait) {
		width: 40%;
		margin-top: 5%;
	}

	@include breakpoint(medium) {
		width: 25%;
	}

	@include breakpoint(regular-screen) {
		width: 20%;
		margin-top: 4%;
	}

	@include breakpoint(large) {
		width: 15%;
	}
}

.decor2 {
	width: 50%;
	margin: 0 auto;
	display: block;
	margin-top: 4%;

	@include breakpoint(portrait) {
		width: 40%;
	}

	@include breakpoint(medium) {
		width: 25%;
	}

	@include breakpoint(regular-screen) {
		width: 20%;
		margin-top: 2%;
	}

	@include breakpoint(large) {
		width: 15%;
	}
}

.bcd {
	margin-top: 37%;

	@include breakpoint(small) {
		font-size: 2.1rem;
	}

	@include breakpoint(portrait) {
		margin-top: 27%;
	}

	@include breakpoint(medium) {
		margin-top: 1%;
		width: 25.73%;
		max-width: 240px;
	}

	@include breakpoint(regular-screen) {
		max-width: 300px;
	}

	@include breakpoint(large) {
		max-width: 350px;
	}

	@include breakpoint(xxlarge) {
		max-width: 360px;
	}
}

#blogindex {
	@include breakpoint(medium) {
		margin-bottom: 5%;
	}
}

/***** BLOG INDIVIDUAL ******/
#blogindex2 {
	background: $white;
	margin-top: 10%;
	margin-bottom: 5%;

	@include breakpoint(medium) {
		margin-top: 5%;
	}

	@include breakpoint(regular-screen) {
		width: 70%;
	}

	@include breakpoint(large) {
		margin-top: 3%;
		margin-bottom: 3%;
		width: 74%;
	}
}

.blogposttitle {
	color: $chocolate;
	font-size: 1.6rem;

	@include breakpoint(small) {
		font-size: 1.8rem;
	}

	@include breakpoint(xlarge) {
		font-size: 2.1rem;
	}
}

article p {
	padding: 10%;
	padding-top: 0%;

	@include breakpoint(large-mobile) {
		font-size: 1.2rem;
		padding-bottom: 5%;
	}

	@include breakpoint(xlarge) {
		font-size: 1.4rem;
	}
}

h6 {
	color: $coral;
	margin-top: 5%;
	padding: 10%;
	padding-bottom: 5%;
	font-size: 1rem;

	@include breakpoint(large-mobile) {
		font-size: 1.2rem;
	}

	@include breakpoint(small) {
		padding-top: 5%;
	}

	@include breakpoint(xlarge) {
		font-size: 1.4rem;
	}
}

.video {
	margin-bottom: 5%;
}

.relatedposts {
	background: none;
	margin-bottom: 10%;
}

.sharemedia {
	padding-bottom: 0%;
	margin-bottom: 0%;

	@include breakpoint(large-mobile) {
		font-size: 1.2rem;
	}

	@include breakpoint(small) {
		padding-top: 2%;
	}

	@include breakpoint(large) {
		text-align: center;
	}

	@include breakpoint(xlarge) {
		font-size: 1.4rem;
	}
}

#socialmedia-blog {
	padding-top: 5%;
	display: flex;
	padding: 10%;
	padding-left: 18%;

	@include breakpoint(small) {
		padding-left: 24%;
	}

	@include breakpoint(medium) {
		padding: 31%;
		padding-top: 2%;
		padding-bottom: 5%;
		padding-left: 33%;
	}

	@include breakpoint(xxlarge) {
		padding-left: 35%;
	}
}

.blogflex {
	display: flex;
	flex-wrap: wrap;
  flex-direction: row;
	justify-content: space-between;
	max-width: 328px;
	margin: 0 auto;
	margin-top: 0%;
	margin-bottom: 10%;

	@include breakpoint(large-mobile) {
		max-width: 400px;
	}

	@include breakpoint(small) {
		max-width: 500px;
	}

	@include breakpoint(portrait) {
		max-width: 630px;
	}

	@include breakpoint(medium) {
		max-width: 730px;
	}

	@include breakpoint(regular-screen) {
		flex-direction: column;
		position: absolute;
		top: 70%;
		left: 75.5%;
		max-width: 225px;
	}

	@include breakpoint(large) {
		left: 77.5%;
		max-width: 277px;
	}

	@include breakpoint(xlarge) {
		left: 77.5%;
		max-width: 305px;
	}

	@include breakpoint(xxlarge) {
		max-width: 400px;
	}
}

.blog-items {
	flex: 1;
	justify-content: center;
	flex-direction: column;
	max-width: 160px;
	margin-top: 6%;

	@include breakpoint(large-mobile) {
		max-width: 182px;
	}

	@include breakpoint(small) {
		max-width: 220px;
	}

	@include breakpoint(small) {
		max-width: 280px;
	}

	@include breakpoint(medium) {
		max-width: 315px;
	}

	@include breakpoint(xxlarge) {
		max-width: 370px;
	}
}

.bb {
	width: 47%;
	font-size: 1.3rem;
	padding-top: 5%;
	padding-bottom: 5%;
	margin-top: 29%;

	@include breakpoint(large-mobile) {
		width: 39.4%;
		font-size: 1.5rem;
	}

	@include breakpoint(small) {
		width: 35.4%;
	}

	@include breakpoint(portrait) {
		width: 37.4%;
		margin-top: 22%;
		font-size: 1.9rem;
	}

	@include breakpoint(medium) {
		width: 33.8%;
		margin-top: 12%;
	}

	@include breakpoint(regular-screen) {
		width: 100%;
		margin-top: 72%;
	}

	@include breakpoint(xlarge) {
		margin-top: 62%;
	}

	@include breakpoint(xxlarge) {
		margin-top: 53%;
	}
}

.relatedrecipes {
	@include breakpoint(regular-screen) {
		position: absolute;
		top: 56%;
		left: 71.5%;
	}

	@include breakpoint(large) {
		top: 51%;
		left: 74.5%;
	}

	@include breakpoint(xxlarge) {
		top: 54%;
	}
}

.decor3 {
	width: 50%;
	margin: 0 auto;
	display: block;
	margin-top: 10%;

	@include breakpoint(portrait) {
		width: 40%;
		margin-top: 5%;
	}

	@include breakpoint(medium) {
		width: 25%;
	}

	@include breakpoint(regular-screen) {
		width: 30%;
		margin-top: 4%;
	}

	@include breakpoint(large) {
		width: 40%;
	}

	@include breakpoint(xxlarge) {
		width: 35%;
	}
}

.decor4 {
	width: 50%;
	margin: 0 auto;
	display: block;
	margin-top: 4%;

	@include breakpoint(portrait) {
		width: 40%;
	}

	@include breakpoint(medium) {
		width: 25%;
	}

	@include breakpoint(regular-screen) {
		width: 30%;
		margin-top: 2%;
	}

	@include breakpoint(large) {
		width: 40%;
	}

	@include breakpoint(xxlarge) {
		width: 35%;
	}
}

.blog2 {
	max-width: 100%;
	margin-top: 10%;
	height: 230px;
	object-fit: cover;
	width: 100%;

	@include breakpoint(large-mobile) {
		height: 300px;
		width: 100%;
	}

	@include breakpoint(small) {
		height: 400px;
	}

	@include breakpoint(portrait) {
		margin-top: 6%;
	}

	@include breakpoint(medium) {
		height: 350px;
		margin-top: 0%;
	}

	@include breakpoint(regular-screen) {
		height: 255px;
		margin-top: 22%;
	}

	@include breakpoint(large) {
		height: 308px;
		margin-top: 12%;
	}

	@include breakpoint(xlarge) {
		height: 378px;
	}
}

.video {
	padding-left: 10%;
	padding-right: 10%;

	@include breakpoint(xxlarge) {
		padding-left: 20%;
		padding-right: 20%;
	}
}
