/*------------------------------------*    #PAGES
\*------------------------------------*/
.menuitem--Cupcakes {
  background: url("Cupcakes.jpg") no-repeat;
  height: 250px;
  width: 250px; }

.menuitem--Cookies {
  background: url("Cookies.jpg") no-repeat;
  height: 250px;
  width: 250px; }

.menuitem--Cake Pops {
  background: url("Cake Pops.jpg") no-repeat;
  height: 250px;
  width: 250px; }

.menuitem--Cakes {
  background: url("Cakes.jpg") no-repeat;
  height: 250px;
  width: 250px; }
